services:

  # ============================
  # ZOOKEEPER
  # ============================
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "22181:2181"
    networks:
      - monitoring
    healthcheck:
      test: ["CMD", "nc", "-z", "0.0.0.0", "2181"]
      interval: 5s
      timeout: 3s
      retries: 6


  # ============================
  # KAFKA
  # ============================
  kafka:
    image: confluentinc/cp-kafka:7.4.0
    depends_on:
      - zookeeper
    command: >
      bash -c "until nc -z zookeeper 2181; do echo 'waiting for zookeeper'; sleep 1; done;
               /etc/confluent/docker/run"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
    ports:
      - "9092:9092"
    networks:
      - monitoring

  # ============================
  # TON APPLICATION GRAPHQL
  # ============================
  graphql-api:
    container_name: graphql-api
    build: .              # ← OBLIGATOIRE
    image: graphql-api    # ← maintenant Docker connaît l’image
    ports:
      - "8000:8000"
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: entreprise
      MYSQL_HOST: mysql
      MYSQL_PORT: 3306
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_DB: entreprise
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      API_HOST: 0.0.0.0
      API_PORT: 8000
    depends_on:
      - postgres
      - mysql
      - kafka
    networks:
      - monitoring
    restart: on-failure


  etl:
   container_name: etl-consumer
   build:
    context: .        # <-- dossier racine du projet
    dockerfile: src/etl/Dockerfile
   restart: always
   depends_on:
    - kafka
    - postgres
   environment:
    KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    KAFKA_TOPIC: employes-sync
    POSTGRES_HOST: postgres
    POSTGRES_PORT: 5432
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres
    POSTGRES_DB: entreprise
   networks:
    - monitoring

  kafka-consumer:
     build: .
     command: python -m src.etl.kafka_consumer
     depends_on:
      - kafka
     networks:
      - monitoring

  # ============================
  # Kafka UI
  # ============================
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    depends_on:
      - kafka
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
    networks:
      - monitoring

  # ============================
  # MySQL
  # ============================
  mysql:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: entreprise
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init-mysql.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - monitoring

  # ============================
  # PostgreSQL
  # ============================
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: entreprise
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-postgres.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - monitoring

  # ============================
  # Prometheus
  # ============================
  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    networks:
      - monitoring

  # ============================
  # Grafana
  # ============================
  grafana:
    image: grafana/grafana:latest
    ports:
    - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_PASSWORD: grafana@
    volumes:
    - ./grafana/data:/var/lib/grafana
    - ./grafana/datasources:/etc/grafana/provisioning/datasources
    networks:
    - monitoring


volumes:
  mysql_data:
  postgres_data:
  prometheus_data:

networks:
  monitoring:
